[Desktop Entry]
Type=Application
Name=Lock screen
Comment=Lock the screen now (swaylock)
Exec=swaylock -f -c 000000
Icon=system-lock-screen
Categories=System;
Terminal=false
